body {
    margin: 0;
    background: #1F2937;
    color: #D5D4D8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
}

.container{
    margin: 30px;
    width: 550px;
}

#title {
    font-size: 40px;
}

#title span {
    color: #4ADF86;
}

#subtitle {
    font-size: 20px;
    font-family: Arial, sans-serif;
}

#count{
    display: block;
    margin-top: 50px;
    padding: 5px;
}

#error {
    color: red;
}

.btn {
    background: #10B981;
    border: none;
    border-radius: 5px;
    padding: 9px 18px;
    color: #D5D4D8;
    margin-top: 20px;
}

hr {
    color: #2F3E53;
    margin: 35px 0;
}

#passwords{
    display: flex;
    justify-content: space-between;
    
}

.password{
    background: #273549;
    color: #55F991;
    width: 250px;
    padding: 4px 8px;
    text-align: center;
    border-radius: 6px;
    font-size: 16px;
    line-height: 2em;
    margin-top: 0;
}